<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>B1G Survivor Pickem</title>
    <meta name="description" content="B1G Survivor Pickem" />
    <meta name="author" content="Gools" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css?v=1.2" />
  </head>
  <body>
    <div id="app">
      <a href="https://forms.gle/nMw7XcZPBJoXuffT8" target="_blank">Pick Submission Form</a>
      <div id="picksContainer">
        <div v-for="picker in Pickers" class="picker" v-bind:class="{ eliminated: picker.Eliminated }">
          <div class="picker-name-container">
            <span class="picker-name">{{picker.Name}}</span>
            <span 
              v-if="picker.Eliminated" 
              class="reason-tooltip" >
              ?
              <span class="reason-text">{{picker.EliminationReason}}</span>
            </span>
          </div>
          <div 
            v-for="pick in picker.Picks" 
            class="picker-selection" 
            v-bind:class="{ 'incorrect-pick': !pick.Correct }"> 
            {{pick.Team}}
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="survivor-data.js?v=1.0"></script>
    <script src="scripts.js?v=1.0"></script>
  </body>
</html>